.header{
    height: 10vh;
    color: white;
    background-color: #050d25;
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.mainHeader{
    font-family: "Copperplate Gothic Bold";
    letter-spacing: 3px;
}

.link1{
    border: none;
    background-color: transparent;
    color: white;
    transition:transform 0.7s;
    transform: scale(0.9);
}

.link1:hover{
    transform: scale(1);
    text-decoration: underline;
}




