.edit-forma{
    padding: 1rem 14rem 1rem 14rem;
    color: white;
}

.edit-forma1{
    padding: 0 2rem 0 2rem;
    color: white;
}

.edit-forma2{
    height: 150px;
}

.edit-forma3{
    padding: 4rem;
}

.edit-form-btn{
    padding: 1rem 2rem 1rem 2rem;
}

