.activity-row1{
    padding: 6rem 6rem 0rem 6rem;
    color: white;
}

.activity-box1{
    padding-top: 3rem;
}

.activity-row2{
    padding: 0rem 6rem 0rem 6rem;
    color: white;
}

.activity-box3{
    padding: 3rem 3rem 0.5rem 3rem;
}

.activity-box4{
    padding-top: 5rem;
}